<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exemplo 18 - Lista Definida pelo Usuário</title>
</head>
<body>
	<h2><center>Palavras do Tupi-Guarani que empregamos no nosso dia a dia</center></h2>
	<dl>
		<dt><i>Açaí:</i>
			<dd>Pequeno Coco Amarronzado
		<dt><i>Arara:</i>
			<dd><b>ave grande</b>
		<dt><i>Biboca:</i>
			<dd><tt>moradia humilde</tt>
		<dt><i>Caboclo:</i>
			<dd>procedente do branco, mestiço de branco com índio
		<dt><i>Canoa:</i>
			<dd>embarcação a remo, esculpida no tronco de uma árvore
		<dt><i>Capenga:</i>
			<dd>Pessoa Coxa
		<dt><i>Cuíca:</i>
			<dd>Especie de rato grande com o rabo muito cumprido
		<dt><i>Iguaçu:</i>
			<dd>Água grande, lago grande, rio grande
		<dt><i>Ipanema:</i>
			<dd>Lugar fedorento
		<dt><i>Ipiranga</i>
			<dd>rio vermelho
		<dt><i>Itajuba:</i>
			<dd>pedra amarela
		<dt><i>Itatiba:</i>
			<dd>muitapedra, abundância de pedras
		<dt><i>Jabaguara:</i>
			<dd>rio do senhor do voo
		<dt><i>Jururu:</i>
			<dd>significa triste
		<dt><i>Nhe:</i>
			<dd>falar, fala, lingua
		<dt><i>Nhenhenhém</i>
			<dd>falação, falar muito, tagarelice
		<dt><i>Pereba:</i>
			<dd>ferida pequena (no pé kkkkkkkkkk)
		<dt><i>Pernanbuco:</i>
			<dd>mar com fendas, Recifes
		<dt><i>Piauí:</i>
			<dd>Rio de piaus (tipo de peixe)
		<dt><i>Pindaiba:</i>
			<dd>Anzol ruim, quando não se consegue pegar nada, pessoa em situação financeira dificil
		<dt><i>Tijuca:</i>
			<dd>lama, charco, pântano, atoleiro
		<dt><i>Toró:</i>
			<dd>chuva forte
		<dt><i>Xará:</i>
			<dd> tirado do meu nome, nome igual ao meu

	</dl>

</body>
</html>