<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Layout Personalizado da Página</title>
</head>
<body>
	<pre>
Automóvel                      Cilindros          Cilindrada       Potência      Torque      Velocidade Maxima

Audi A3 sedan                  4 em linha          1.8 litro        180 cv        25,5 mkgf   235 km/h
BMW 328i                       4 em linha          2.0 litros       245cv         35,7 mkgf   257 km/h
Mercedes SLS AMG               8 em V              6.2 litros       571 cv        66,3 mkgf   312 km/h
Porsche 991 Carrera S          6 boxer             3.8 litros       400 cv        44,9 mkgf   302 km/h
Lamborghini Aventador LP700-4  12 em V             6.5 litros       700 cv        70,3 mkgf   350 km/h
McLaren MP4-12                 8 em V              3.8 litros       600 cv        61,2 mkgf   330 km/h		


	</pre>

</body>
</html>